.wrapper {
    padding: 20px 40px;
}
.wrapper h1 {
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0 0 10px 0;
}
@media (max-width: 700px) {
    .wrapper h1 {
        font-size: 25px;
    }
}
.header {
    height: 64px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: normal;
}

.header img {
    max-width: 200px;
    cursor: pointer;
}

.header div:nth-child(2) {
    flex: 1;
}
.header ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header li[data-item]:not(:last-child) {
    margin-right: 32px;
}

.header li[data-stars] > div {
    cursor: pointer;
    width: 220px;
    height: 40px;
    background: black;
    border: 1px solid #4D4D4D;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.header li[data-get-started] {
    width: 121px;
    height: 40px;
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    justify-content: space-between;
    margin-left: 20px;
}

.header li[data-get-started] div {
    background: white;
    color: black;
    font-size: 12px;
}

.header li[data-stars] div {
    font-size: 12px;
}

/*@media (max-width: 768px) {*/
/*    .header ul:before {*/
/*        content: url("/menu.svg");*/
/*    }*/
/*    .header ul li {*/
/*        display: none !important;*/
/*    }*/
/*    .header ul:focus + li {*/
/*        display: block !important;*/
/*    }*/
/*}*/