.wrapper {
  background: #0E1117;
  border-radius: 20px;
  display: inline-block;
  min-width: 464px;
  max-width: 100%;
  width: 100%;
  overflow: hidden;
  padding: 30px;
  text-align: center;
}

.img {
  border-radius: 10px;
  margin-bottom: 30px;
}

.left {
  text-align: left;
}

.left * {
  font-size: 20px;
}

.author {
  font-size: 20px;
}

.author a {
  font-size: 20px;
}