@import url('https://use.typekit.net/tad1kzm.css');
html, html * {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
}
html,
body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
